#bord {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(6,1fr);
    border: 1px solid black;
}
div[data-klasse="baseTile"] {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
[data-status="hidden"]{
    margin: 5px;
    background-color: rgb(51, 30, 30);
    transition-duration: 1s;
}
[data-status="open"]{
    margin: 5px;
    background-color: lightblue;
    transition-duration: 1s;
}