
    
#screen{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}
#bord {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 11;
    grid-template-columns: repeat(6,1fr);
    border: 1px solid black;
}
[data-klasse="antallTrykkBox"]{
    display: flex;
    grid-column-start: 9;
    grid-row-start: 4;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
[data-klasse="baseTile"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition-duration: 1s;
    vertical-align: top;
}
[data-status="hidden"]{
    background-color: rgb(51, 30, 30);
    color: rgba(0,0,0,0);
}
[data-status="open"]{
    background-color: lightblue;
}
[data-klasse="nyttSpill"]{
    display: flex;
    grid-area: 4/4/4/4;
    justify-self: right;
    border: 2px solid black;
    outline: 1px white solid;
    outline-offset: -3px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 1rem;
    padding: 0.5rem;
    height: max-content;
    width: max-content;
    background-color: lightcyan;
    transition-duration: 0.5s;
}
[data-klasse="nyttSpill"]:hover{
    transition-duration: 0.5s;
    background-color: greenyellow;
    cursor:pointer;
}
[data-klasse="nyttSpill"] > h2{
    color: black;
    font-size: 2rem;
    -webkit-text-stroke: 0.25px white;
}
[data-status="locked"]{
    background-color: lightgreen;
}
[data-klasse="victory"]{
    display: flex;
    background-color: lightseagreen;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10;
    transition-duration: 1s;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}