#screen{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}
#bord {
    display: grid;
    grid-column-start: 2;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(6,1fr);
    border: 1px solid black;
}
[data-klasse="antallTrykkBox"]{
    display: flex;
    grid-column-start: 3;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
[data-klasse="nyttSpill"]{
    display: flex;
    grid-area: 4/3/4/4;
    justify-self: right;
    border: 2px solid black;
    outline: 1px white solid;
    outline-offset: -3px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 1rem;
    padding: 1rem;
    height: max-content;
    width: max-content;
    background-color: lightcyan;
}
[data-klasse="nyttSpill"]:hover{
    transition-duration: 0.5s;
    background-color: greenyellow;
    cursor:pointer;
}
[data-klasse="nyttSpill"] > h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 2.5rem;
    -webkit-text-stroke: 1px white;
}
[data-klasse="baseTile"] {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition-duration: 1s;
}
[data-status="hidden"]{
    background-color: rgb(51, 30, 30);
}
[data-status="open"]{
    background-color: lightblue;
}
[data-status="locked"]{
    background-color: lightgreen;
}